/* body{
   display: flex;
   flex-direction: column;
   min-height: 100vh;
} */
html,
body {
    height: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0;
    display: flex;
    flex-direction: column;
   
}

.container {
    flex: 1;
     max-width: 1300px;
     width: 100%;
  margin: 0 auto;
}

/* .contain{
    flex:1;
} */
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d !important;
    font-size: 2rem !important;
}

.nav-link {
    color: #222222 !important;
}

.f-info {
    display: flex !important;
    text-align: center !important;
    height: 7rem !important;
    background-color: #ebebeb !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    align-items: space-evenly !important;


}

.link,
.socials,
.company {
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.socials i {
    font-size: 1.2rem !important;
    margin-right: 1rem !important;
    color: #222222 !important;
}

.link a {
    text-decoration: none !important;
    color: #222222 !important;
}

.link a:hover {
    text-decoration: underline !important;
}

.listing-card {
    border: none !important;
     flex: 1 1 280px;
  max-width: 320px;
    margin-bottom: 2rem;
    margin: 1rem; 
     flex-wrap: wrap;
     gap: 1rem;

}
.show-card{
     border: none !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;

}
.reviewCard{
    display: flex;
    flex-wrap: wrap;
}
.card-img-top {
    border-radius: 1rem !important;
    width: 100%;
    object-fit: cover !important;
  height: 17rem;
 
  
}
.listing-card {
  padding: 1rem;
}

.listing-card .carousel {
  margin-bottom: 1.2rem;
  margin-right: 0.8rem;
}
.card-body {
    padding: 0 !important;
}

.card-body p {
    font-weight: 500;
}


.card-body p {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.linkOfCard {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    /* margin-left: 0.5rem; */
}

.card-img-overlay {
    opacity: 0;
}


.card-img-overlay:hover {
    opacity: 0.2;
    background: white;
}

.add-btn {
    color: #fe424d !important;
    border: none !important;
    height: 2.5rem;

}

.show-img {
    height: 50vh;
    width: 50vh;
}

.show-btn {
    display: flex;

}

#map {
    width: 500px;
    height: 500px;
     min-height: 400px;
}

.save-link{
   /* margin-left: 9rem;
   margin-bottom: 0.4rem; */
   display: flex;
   align-items: center;
   justify-content: center;
}
.save-link a{
    
    text-decoration: none !important;
    color: black;
}
.add-wish-btn {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}